
#map {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 300px;
    border-radius: 50px;
    
}

#video {
    border-radius: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 500px;
    margin-bottom: 5%;

}

#filtros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}